  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

.project-container {
  max-width: 98%;
  margin: auto;
  height: 100vh;
  background-color: rgb(2, 2, 56);
  overflow: hidden;
  z-index: -100;
}
  
  

.book-container {
  margin: -410px 0px;
  background-color: rgb(2, 18, 73);
  display: none;
  position: absolute;
  z-index: 100;
}
  

.return-button {
  width: 80px;
  height: 40px;
  background-color: rgb(219, 219, 219);
  position: absolute;
  margin: 340px 100px;
  border-radius: 10px;
  border: none;
  transition: 1s ease-in-out;
}
.return-button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container-img {
  width: 120%;
  height: 890px;
  margin: -250px -150px;
  /* position: absolute; */
  /* overflow: hidden; */
  opacity: 0.1;
}

.front-content {
  max-width: 100%;
  margin: 100px 0px;
  /* position: absolute; */
  /* overflow: hidden; */
}
.content-container {
  width: auto;
  margin: -50px 0px;
}
.spinner-img {
  width: 85%;
}

.spinner-image {
  width: 300px;
  margin: -500px 10px 10px 700px;
  position: absolute;
}

.logo {
  width: 60%;
  margin: 40px 10px 10px -215px;
  position: absolute;
}
.organization-name {
  width: 55%;
  height: 70px;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(140, 140, 255);
  margin: -600px 10px 10px 400px;
  position: absolute;
}

.text-content {
  width: 60%;
  height: 60px;
  color: rgb(192, 192, 252);
  font-size: 30px;
  font-weight: bold;
  margin: -220px 10px 10px 350px;
  position: absolute;
}
.span-box {
  width: 1000px;
  height: 60px;
  position: absolute;
  display: none;
}
.span1 {
  width: 5px;
  height: 60px;
  background-color: blue;
  margin: -15px 0px 0px -20px;
}
.span2 {
  width: 5px;
  height: 60px;
  background-color: blue;
  margin: -60px 0px 0px 950px;
}
.button-content {
  width: 100px;
  height: 250px;
  margin: -200px 10px 10px 50px;
  position: absolute;
  /* border: 5px solid black; */
}

.button-content button {
  margin: 15px 20px;
  border: none;
  background-color: transparent;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.button-content button:hover {
  transform: scale(1.2);
}

.button-content img {
  width: 40px;
}

.main-map {
  width: 400px;
  height: 200px;
}
.location-map {
  width: 300px;
  height: 200px;
  margin: -170px 10px 10px 150px;
  position: absolute;
  /* border: 4px solid darkblue; */
  display: none;
  z-index: 100;
}
.timer {
  width: 35%;
  font-size: 30px;
  height: 50px;
  color: white;
  margin: 30px 10px 10px 575px;
}

.timer-text {
  width: 36%;
  font-size: 30px;
  height: 50px;
  color: blue;
  margin: 30px 10px 10px 635px;
  display: none;
}

.count {
  font-size: 20px;
  color: white;
  margin: -100px 10px 10px 775px;
}
.cat {
  width: 120px;
  height: 35px;
  border-radius: 15px;
  background-color: blue;
  border: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
  position: absolute;
  margin: -140px 10px 10px 760px;
  transition: 1s ease-in-out;
  position: absolute;
  /* display: none; */
}
.cat:hover {
  box-shadow: 0px 0px 2px 2px rgba(250, 250, 250, 0.5);
  transform: scale(1.1);
}
.date {
  width: 18%;
  height: 55px;
  font-size: 20px;
  color: white;
  margin: -100px 10px 10px 160px;
  border: 2px solid blue;
  display: none;
  position: absolute;
}
.date p {
  margin: 5px 10px;
}
.delegates {
  /* display: none; */
}

.persons {
  width: 28%;
  margin: -170px 160px;
  position: absolute;
}
.persons-img {
  width: 32%;
}

@media (max-width: 2560px) {
  .project-container {
    height: 878;
  }


  
  .front-content {
    margin: 320px 500px;
    height: 800px;
  }

  .spinner-image {
    width: 250px;
    margin: -500px 10px 10px 650px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 27px;
    font-weight: bold;
    margin: -250px 10px 10px 330px;
    position: absolute;
  }

  .organization-name {
    width: 50%;
    height: 40px;
    font-size: 60px;
    margin: -600px 10px 10px 450px;
  }
  .span1 {
    width: 5px;
    height: 60px;
    margin: -10px 0px 0px 860px;
  }

  .span2 {
    width: 5px;
    height: 60px;
    background-color: blue;
    margin: -60px 0px 0px -20px;
  }

  .cat {
    margin: -190px 10px 10px 690px;
  }
  .timer {
    font-size: 22px;
    margin: 120px 10px 10px 580px;
  }
  .count {
    margin: -100px 10px 10px 700px;
  }
  .button-content {
    width: 6%;
    height: 250px;
    margin: -200px 10px 10px -200px;
  }
  .date {
    width: 15%;
    margin: -100px -50px;
  }
  .date p {
    margin: 5px 10px;
  }
  .main-map {
    width: 400px;
    height: 300px;
  }
  .location-map {
    margin: -180px 10px 10px -50px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 32%;
    margin: -250px -30px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 60%;
    margin: 34px 10px 10px -180px;
  }
}

@media (max-width: 1822px) {
 
  .front-content {
    margin: 320px 110px;
  }
  .button-content {
    width: 6%;
    height: 250px;
    margin: -200px -90px;
  }
  .cat {
    margin: -200px 10px 10px 696px;
  }
  .timer {
    font-size: 22px;
    margin: -40px 580px;
    position: absolute;
  }
  .count {
    margin: -70px 710px;
    position: absolute;
  }
  .date {
    width: 25%;
    height: 80px;
    margin: -120px 0px;
  }
  .date p {
    margin: 15px 30px;
  }
  .main-map {
    width: 500px;
    height: 240px;
  }
  .location-map {
    margin: -190px 0px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 40%;
    margin: -250px 20px;
    position: absolute;
  }
}

@media (max-width: 1440px) {
  .project-container {
    height: 858;
  }
  .front-content {
    margin: 320px -29px;
  }

  .spinner-image {
    width: 200px;
    margin: -520px 10px 10px 650px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 22px;
    font-weight: bold;
    margin: -330px 10px 10px 380px;
    position: absolute;
  }

  .organization-name {
    width: 50%;
    height: 40px;
    font-size: 45px;
    margin: -580px 10px 10px 500px;
  }
  .span1 {
    width: 5px;
    height: 40px;
    margin: -10px 700px;
  }

  .span2 {
    width: 5px;
    height: 40px;
    background-color: blue;
    margin: -40px -20px;
  }

  .cat {
    margin: -300px 10px 10px 670px;
  }
  .timer {
    font-size: 22px;
    margin: -170px 550px;
    position: absolute;
  }
  .count {
    margin: -200px 685px;
    position: absolute;
  }
  .button-content {
    width: 6%;
    height: 250px;
    margin: -100px 100px;
  }
  .date {
    width: 30%;
    height: 80px;
    margin: -10px 200px;
  }
  .date p {
    margin: 15px 30px;
  }
  .main-map {
    width: 500px;
    height: 280px;
  }
  .location-map {
    margin: -120px 10px 10px 200px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 60%;
    margin: -250px 200px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 65%;
    margin: 23px -147px;
  }
}
@media (max-width: 1366px) {
  .front-content {
    margin: 320px -29px;
  }

  .spinner-image {
    width: 200px;
    margin: -520px 10px 10px 610px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 22px;
    font-weight: bold;
    margin: -330px 10px 10px 360px;
    position: absolute;
  }

  .organization-name {
    width: 50%;
    height: 40px;
    font-size: 45px;
    margin: -580px 10px 10px 460px;
  }
  .span1 {
    width: 5px;
    height: 40px;
    margin: -10px 700px;
  }

  .span2 {
    width: 5px;
    height: 40px;
    background-color: blue;
    margin: -40px -20px;
  }

  .cat {
    margin: -300px 10px 10px 630px;
  }
  .timer {
    font-size: 22px;
    margin: -170px 510px;
    position: absolute;
  }
  .count {
    margin: -200px 645px;
    position: absolute;
  }
  .button-content {
    width: 6%;
    height: 250px;
    margin: -300px 50px;
  }
  .date {
    width: 25%;
    height: 80px;
    margin: -210px 150px;
  }
  .date p {
    margin: 15px 30px;
  }
  .main-map {
    width: 300px;
    height: 200px;
  }
  .location-map {
    margin: -280px 10px 10px 150px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 40%;
    margin: -330px 150px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 65%;
    margin: 23px -147px
  }
}

@media (max-width: 1024px) {
  .project-container {
    height: 858;
  }
  .front-content {
    margin: 320px -215px;
    height: 800px;
  }

  .spinner-image {
    width: 150px;
    margin: -500px 10px 10px 650px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 20px;
    font-weight: bold;
    margin: -360px 10px 10px 400px;
    position: absolute;
  }

  .organization-name {
    width: 50%;
    height: 40px;
    font-size: 35px;
    margin: -550px 10px 10px 540px;
  }
  .span1 {
    width: 5px;
    height: 40px;
    margin: -10px 640px;
  }

  .span2 {
    width: 5px;
    height: 40px;
    background-color: blue;
    margin: -40px -20px;
  }

  .cat {
    width: 80px;
    height: 20px;
    font-size: 11px;
    margin: -330px 10px 10px 670px;
  }
  .timer {
    font-size: 20px;
    margin: -270px 550px;
    position: absolute;
  }
  .count {
    font-size: 15px;
    margin: -290px 675px;
    position: absolute;
  }
  .button-content {
    width: 6%;
    height: 250px;
    margin: -150px 270px;
    /* display: flex; */
  }
  .nav-button-img {
    width: 5px;
    /* margin-top: 10px; */
  }
  .date {
    width: 60%;
    height: 150px;
    font-size: 25px;
    margin: -120px 410px;
  }
  .date p {
    margin: 45px 130px;
  }
  .main-map {
    width: 600px;
    height: 360px;
  }
  .location-map {
    margin: -220px 10px 10px 410px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 80%;
    margin: -210px 580px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 65%;
    margin: 17px -115px
  }
}
@media (max-width: 768px) {
  .project-container {
    height: 858;
  }
  .front-content {
    margin: 320px -215px;
    height: 800px;
  }

  .spinner-image {
    width: 150px;
    margin: -560px 10px 10px 540px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 16px;
    font-weight: bold;
    margin: -410px 10px 10px 340px;
    position: absolute;
  }

  .organization-name {
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin: -600px 10px 10px 490px;
  }
  .span1 {
    width: 5px;
    height: 40px;
    margin: -10px 515px;
  }

  .span2 {
    width: 5px;
    height: 40px;
    background-color: blue;
    margin: -40px -20px;
  }

  .cat {
    width: 80px;
    height: 20px;
    font-size: 11px;
    margin: -380px 10px 10px 560px;
  }
  .timer {
    font-size: 15px;
    margin: -270px 470px;
    position: absolute;
  }
  .count {
    font-size: 15px;
    margin: -290px 556px;
    position: absolute;
  }
  .button-content {
    width: 40%;
    height: 250px;
    margin: -200px 450px;
  }
  .nav-button-img {
    width: 5px;
    /* margin-top: 10px; */
  }
  .date {
    width: 80%;
    height: 300px;
    font-size: 40px;
    margin: -80px 285px;
  }
  .date p {
    margin: 85px 40px;
  }
  .main-map {
    width: 650px;
    height: 350px;
  }
  .location-map {
    margin: -100px 10px 10px 270px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 90%;
    margin: -80px 480px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 65%;
    margin: 17px -115px
  }
}
@media (max-width: 430px) {
  .project-container {
    height: 858;
  }
  .front-content {
    margin: 320px -325px;
    height: 800px;
  }

  .spinner-image {
    width: 150px;
    margin: -550px 10px 10px 460px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 13px;
    font-weight: bold;
    margin: -410px 10px 10px 376px;
    position: absolute;
    white-space: pre-line;
    text-align: center;
  }

  .organization-name {
    width: 40%;
    height: 40px;
    font-size: 25px;
    margin: -620px 10px 10px 440px;
    text-align: center;
    /* white-space: pre; */
  }
  .span1 {
    width: 3px;
    height: 23px;
    margin: -3px 286px;
  }

  .span2 {
    width: 3px;
    height: 23px;
    background-color: blue;
    margin: -23px 0px;
  }

  .cat {
    width: 80px;
    height: 20px;
    font-size: 11px;
    margin: -370px 10px 10px 478px;
    white-space: pre;
  }
  .timer {
    width: 250px;
    font-size: 14px;
    margin: -270px 410px;
    position: absolute;
  }
  .count {
    font-size: 15px;
    margin: -290px 486px;
    position: absolute;
  }
  .button-content {
    width: 40%;
    height: 250px;
    margin: -320px 380px;
    display: flex;
  }
  .nav-button-img {
    width: 5px;
    /* margin-top: 10px; */
  }
  .date {
    width: 65%;
    height: 200px;
    font-size: 25px;
    margin: -140px 383px;
  }
  .date p {
    margin: 50px 40px;
  }
  .main-map {
    width: 350px;
    height: 260px;
  }
  .location-map {
    margin: -140px 10px 10px 354px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 550px;
    margin: -140px 432px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 65%;
    margin: 14px -113px;
  }
  .return-button {
    width: 80px;
    height: 40px;
    margin: 140px 170px;
  }
}
@media (max-width: 375px) {
  .front-content {
    margin: 320px -315px;
    height: 800px;
  }

  .spinner-image {
    width: 150px;
    margin: -600px 10px 10px 440px;
  }
  .text-content {
    width: 70%;
    height: 60px;
    color: rgb(192, 192, 252);
    font-size: 13px;
    font-weight: bold;
    margin: -460px 10px 10px 370px;
    position: absolute;
    white-space: pre-line;
    text-align: center;
  }

  .organization-name {
    width: 40%;
    height: 40px;
    font-size: 20px;
    margin: -630px 10px 10px 400px;
    text-align: center;
    white-space: pre;
  }
  .span1 {
    width: 3px;
    height: 30px;
    margin: 1px 250px;
  }

  .span2 {
    width: 3px;
    height: 30px;
    background-color: blue;
    margin: -32px 10px;
  }

  .cat {
    width: 80px;
    height: 20px;
    font-size: 11px;
    margin: -420px 10px 10px 460px;
    white-space: pre;
  }
  .timer {
    width: 250px;
    font-size: 14px;
    margin: -350px 387px;
    position: absolute;
  }
  .count {
    font-size: 15px;
    margin: -370px 466px;
    position: absolute;
  }
  .button-content {
    width: 40%;
    height: 250px;
    margin: -300px 370px;
    display: flex;
  }
  .button-content button {
    width: 1px;
    height: 2px;
    margin: 0px 30px;
  }
  .nav-button-img {
    width: 5px;
    /* margin-top: 10px; */
  }
  .date {
    width: 65%;
    height: 90px;
    font-size: 16px;
    margin: -220px 375px;
  }
  .date p {
    margin: 15px 40px;
  }
  .main-map {
    width: 300px;
    height: 140px;
  }
  .location-map {
    margin: -215px 10px 10px 350px;
  }

  .delegates {
    display: none;
  }
  .persons {
    width: 380px;
    margin: -230px 440px;
    position: absolute;
  }
  .persons-img {
    width: 32%;
  }

  .timer-text {
    width: 36%;
    font-size: 30px;
    height: 50px;
    margin: 30px 10px 10px 565px;
  }

  .logo {
    width: 47%;
    margin: 30px -100px;
  }
  .return-button {
    width: 80px;
    height: 40px;
    margin: 70px 150px;
  }
}
